
/* css for projects */


.section-portfolio1 {

      max-width: 800px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px; 
      padding-bottom: 30px;
      background-color: rgba(204, 204, 255, 0.2);
      border-radius: 30px;
      margin-top: 30px;
      margin-bottom: 60px;
      margin-left: auto;
      margin-right: auto;
    }

.section-portfolio2 {

      max-width: 900px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 5px; 
      padding-bottom: 30px;
      background-color: rgba(204, 204, 255, 0.2);
      border-radius: 30px;
      margin-top: 30px;
      margin-bottom: 60px;
      margin-left: auto;
      margin-right: auto;
    }

.container {
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px; /* Adds space between the project cards */
    }

.project-card {
      background: rgba(197, 213, 255, 0.534);    
      border-radius: 20px;
      box-shadow: 0 0px 5px rgb(46, 56, 99); 
      width: 250px;
      margin: 0px;
      padding: 10px;
      text-align: center;   
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

.project-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgb(145, 169, 239);
    }

.project-card img {
      max-width: 100%;
      border-radius: 5px;
    }

.project-title {
      font-size: 1.25rem;
      margin: 10px 0;
      color: #283662;
    }

.project-details {
      font-size: 0.9rem;
      color: #fff9f9;
      padding: 8px;
      text-align: justify;
    }

.project-card button {
      margin-top: 10px;
      padding: 8px 16px;
      background-color: #272763;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

.project-card button:hover {
      background-color: #a2a2ef;
      color: rgb(27, 39, 78); /* Changes the text color to black on hover */

    }

